* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.Vidaloka{
    font-family: 'Vidaloka', serif;
}
.Dongle{
    font-family: 'Dongle', serif;
}
.w-5{
    width: 5%;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/img/Banner.png");
    text-align: center;
}

.banner h1 {
    font-family: 'Vidaloka', serif;
}

.banner p {
    color: #3C75A6;
    font-family: 'Myanmar Sans Pro';
    font-size: 16px;
}

.banner a {
    text-decoration: none;
    color: #3C75A6;
    font-family: 'Myanmar Sans Pro';

}
.table-money{
    border: 1px solid black;
}
/* .background-container {
    background-color: #fff;
    min-height: 100vh;
}


.background-container .row {
    width: 100%;
    margin-bottom: 50px;
    background-color: #f4f4f4;

} */


.payment-choose{
    border: 1px solid black;
}
.payment{
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}
.submit-checkout{
    background-color: #3C75A6;
    border: none;
    border-radius: 5px;
    color: white;
}
.nochange{
    background-color: #F5F5F5;
}