* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Roboto{
    font-family: 'Roboto', serif;
}

.Opensans{
    font-family: 'Open Sans', serif;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/img/Banner.png");
    font-family: "Vidaloka", serif;
}

.body-content {
    background: linear-gradient(180deg,
            rgba(60, 117, 166, 0.2) 0%,
            rgba(255, 255, 255, 0.15) 53%,
            #fff 68%,
            #fff 100%);
    /* min-height: 1000em; */
}
.blog-image{
    
    aspect-ratio: 2/1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-create-blog{
    background-color: rgba(60, 117, 166, 1);
    color: white;
    border-radius: 15px;
}